<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel ="stylesheet">
</head>
<body>
    <div th:replace="~{nav.html::navbar}"></div>
    <div class="detail">
        <h4>상세페이지</h4>
<!--        <a th:href="@{/edit/{id}(id=${items})}">-->
        <h1 th:text="${data.writer}">작성자</h1>
        <a th:href="@{/edit/{id}(id=${data.id})}">수정</a>
        <img src="https://placehold.co/300">
        <h4 th:text="${data.title}">제목</h4>
        <h4 th:text="${data.price + '원'}">금액</h4>

        <!--삭제 기능 구현 -->
        <span th:onclick="fetch('/data?id=[[${data.id}]]',{method:'DELETE'})
            .then(r => r.text())
            .then((a) => {
            console.log(a)
                location.reload();
            })
        ">삭제</span>
    </div>

    <script>
        <!--삭제기능 -->
        //이 url로 get요청 날려줌

    </script>



</body>
</html>