<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수정페이지</title>
    <link href="/main.css" rel ="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>

<div>
    <img th:if="${item.imgUrl != null}" th:src="${item.imgUrl}" id="preview" alt="미리보기" style="max-width: 100px; max-height: 100px;">
</div>
<input type="file" onchange="getURL(this)">
<form action="/edit" method="POST">
    <input name = "id" th:value="${item.id}" style="display: none">
    <input name = "title" th:value="${item.title}">
    <input name = "price" th:value="${item.price}">
    <input type = "hidden" name = "picture" id="imgUrl" th:value="${item.imgUrl}">
    <button type ="submit">전송</button>
</form>
<script>
    //await은 then을 대신해서 붙이는 코드
    //서버에서 보낸 presigend url로 이미지 넣어서 put 요청 보내기
    async function getURL(e) {
        //e는 유저가 선택한 파일
        let name = encodeURIComponent(e.files[0].name)
        var result = await fetch('/presigned-url?filename=' + name)
        result = await result.text() //서버에서 받아온 url을 result에 저장
        let pic = await fetch(result,{
            method:'PUT',
            body : e.files[0]
        })
        if(pic.ok){
            let uploadUrl = pic.url.split("?")[0];
            console.log(uploadUrl);
            //미리보기 이미지를 img src 속성에 설정
            document.getElementById('preview').src = uploadUrl; //url을 이미지 태그에 집어넣기 , 업로드된 url 주소임
            //imgUrl 필드에 url 설정
            document.getElementById('imgUrl').value = uploadUrl;


        }
    }
</script>

</body>
</html>