<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>작성페이지</title>
    <link href="/main.css" rel ="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<form action="/add" method="POST">
    <input name = "title">
    <input name = "price">
    <button type ="submit">전송</button>
</form>

<!--유저가 파일을 선택하면 onchange가 실행되는것-->
<input type="file" onchange="getURL(this)">
<script>
    function getURL(e){
        let name = encodeURIComponent(e.files[0].name)
        e.files[0].name
        fetch('/presigned-url?filename=' + name)
    }
</script>

</body>
</html>